<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>#theArtist</title>
  <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplelightbox.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">
</head>

<body class="body">
<!-- NAVBAR -->
    <section id="header" class="clearfix cd-secondary-nav">
        <nav class="navbar">
        <div class="container clearfix">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header clearfix page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/dashboard" class="navbar-brand"><i class="fa fa-pencil"></i>#theArtist</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                <a class="tag_menu" href="/dashboard">HOME</a>
                </li>

                <li class="tag_menu">
                <div class="dropdown">
                    <button class="dropbtn ">POSTS <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <div class="dropdown-content">
                    <a href="/jobproposals">JOBS</a>
                    <a href="/jobproposals">PROPOSALS </a>
                    </div>
                </div>
                </li>

                <li class="tag_menu">
                <div class="dropdown">
                    <button class="dropbtn ">CREATE <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <div class="dropdown-content">
                    {% if loggedUser.status == 'artist' %}
                    <a href="/create">PROPOSAL</a>
                    {% else %}
                    <a href="/create">JOB POSITION</a>
                    {% endif %}
                    </div>
                </div>
                </li>
                
            <!-- 
                <li class="dropdown">
                <a class="tag_menu border_none" href="#" data-toggle="dropdown" role="button"
                    aria-expanded="false">POSTS<span class="caret"></span></a>
                <ul class="dropdown-menu drop_2" role="menu">
                    <li><a href="collection.html">JOBS</a></li>
                    <li><a href="blog_detail.html">PROPOSALS</a></li>
                </ul>
                </li> -->

                <li>
                <a class="tag_menu" href="/network">NETWORK</a>
                </li>

                <li>
                <a class="tag_menu" href="contact.html">CONTACT US</a>
                </li>


                <!-- <li class="dropdown"><a class="tag_menu" href="#" data-toggle="dropdown"><span
                    class="fa fa-search"></span></a>
                <ul class="dropdown-menu drop_1" style="min-width: 300px;">
                    <li>
                    <div class="row_1">
                        <div class="col-sm-12">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                Search</button>
                            </span>
                            </div>
                        </form>
                        </div>
                    </div>
                    </li>
                </ul>
                </li> -->
                <li > 
                <div class="dropdown">
                    <button class="dropbtn nav-color"><img class="img" src="../static/img/gear-24.png" alt=""></button>
                    <div class="dropdown-content">
                    <a href="/profile/{{loggedUser.id}}">MY PROFILE</a>
                    <a href="/portfolio/{{loggedUser.id}}">MY PORTFOLIO </a>
                    <a href="/portfolio">CREATE PORTFOLIO</a>
                    <a href="/logout">LOGOUT</a>
                    </div>
                </div>
                </li>
            
            </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        </nav>
    </section>

    <h1 class="text-center">LET'S SET UP YOUR PORTFOLIO! <br>You can update it anytime.</h1>


    <div class="d-flex justify-content-around">
        <div class="w-50 m-auto d-flex justify-content-around">
            <form enctype="multipart/form-data" class=" w-50 m-auto p-5 border rounded mt-4 text-center" action="/create/portfolio" method="post">
                <div class="form-row bg-pink p-4">
                    <h2>Let people know about yourself.</h2>
                    <label for="description">Portfolio Description:</label>
                    <p>(This will be the overall description of yourself. So be carefull to include everything)</p>
                    <textarea class="form-control fs-16" name="description" cols="30" rows="5"></textarea>
                    {% with messages = get_flashed_messages(category_filter=["portfolioDescription"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["portfolioSuccess"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    
                    {% if portfolio %}
                        <input type="submit" value="Update" class="mt-20 btn fs-20 btn-success">
                    {% else %}
                        <input type="submit" value="Upload" class="mt-20 btn fs-20 btn-success">
                    {% endif %}
                </div>
                
            </form>
        </div>
        <div class="w-50 m-auto d-flex justify-content-around">
            <form enctype="multipart/form-data" class="w-50 m-auto p-5 border rounded mt-4 text-center bg-pink p-4" action="/create/work" method="post">
                <h2 class="text-center">Add your works! </h2>
                <div class="form-row">
                    <label for="caption" class="">Work description: </label>
                    <textarea class="form-control fs-16" name="caption" cols="30" rows="3"></textarea>
                    {% with messages = get_flashed_messages(category_filter=["imageCaption"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                {% if loggedUser.status == 'artist' %}
                    <div class="form-row d-flex justify-content-center">
                        <div class="form-row m-auto">
                            <label for="image">Post Image:</label>
                            <input type="file" class="form-control" name="image">
                        </div> 
                    </div>
                    {% with messages = get_flashed_messages(category_filter=["portfolioImage"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["postImage"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <input type="submit" value="Upload" class="mt-20 fs-20 btn btn-success">
                    {% with messages = get_flashed_messages(category_filter=["addDescription"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                {% elif loggedUser.status =='it' %}
                    <div class="form-row d-flex justify-content-center">
                        <div class="form-row m-auto width-100">
                            <label for="image">GitHub URL for your project:</label>
                            <input type="url" class="form-control fs-16" name="image">
                        </div> 
                    </div>
                    {% with messages = get_flashed_messages(category_filter=["portfolioImage"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["postImage"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <input type="submit" value="Upload" class="mt-20 fs-20 btn btn-success">
                    {% with messages = get_flashed_messages(category_filter=["addDescription"]) %}
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                {% endif %}
            </form>
            
            
        </div>
  </div>
    

  







  <script src="{{url_for('static', filename='JS/carousel.js')}}"></script>

  <script src="{{url_for('static', filename='JS/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/jquery-2.1.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/ekko-lightbox.js')}}"></script>
  <script src="{{url_for('static', filename='JS/simple-lightbox.js')}}"></script>

</body>

</html>