<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>#theArtist</title>
  <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplelightbox.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/icon type">

</head>

<body class="body">
<!-- NAVBAR -->
  <section id="header" class="clearfix cd-secondary-nav">
    <nav class="navbar">
      <div class="container clearfix">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header clearfix page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/dashboard" class="navbar-brand"><i class="fa fa-pencil"></i>#theArtist</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="tag_menu_1 active_tab" href="/dashboard">HOME</a>
            </li>

            {% if loggedUser.status == 'it' %}
            <li class="tag_menu">
              <div class="dropdown">
                <button class="dropbtn ">POSTS <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                <div class="dropdown-content">
                  {% if loggedUser.status == 'it' %}
                    <a href="/jobproposals">JOBS/PROPOSALS</a>
                  {% elif loggedUser.status == 'artist' %}
                  <a href="/jobproposals">JOBS</a>
                  {% endif %}
                </div>
              </div>
            </li>
            {% endif %}

            <li class="tag_menu">
              <div class="dropdown">
                <button class="dropbtn ">CREATE <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                <div class="dropdown-content">
                  {% if loggedUser.status == 'artist' %}
                  <a href="/create">PROPOSAL</a>
                  {% else %}
                  <a href="/create">JOB POSITION</a>
                  {% endif %}
                </div>
              </div>
            </li>

            <li>
              <a class="tag_menu" href="/network">NETWORK</a>
            </li>

            <li>
              <a class="tag_menu" href="/contact">CONTACT US</a>
            </li>
            <li > 
              <div class="dropdown">
                <button class="dropbtn nav-color"><img class="img" src="../static/img/gear-24.png" alt=""></button>
                <div class="dropdown-content">
                  <a href="/profile/{{loggedUser.id}}">MY PROFILE</a>
                  <a href="/portfolio/{{loggedUser.id}}">MY PORTFOLIO </a>
                  <a href="/portfolio">CREATE PORTFOLIO</a>
                  <a href="/logout">LOGOUT</a>
                </div>
              </div>
            </li>
          
          </ul>

        </div>
      </div>
    </nav>
  </section>

  
  {% if loggedUser.status == 'it' %}
    <form action="/create/job" method="post" class="col-4 p-4 my-5 m-auto text-dark text-center rounded bg-pink">
        <h1>Add a job position</h1>
        <div class="form-group text-center my-3">
            <label for="title" class="form-label d-block">Title: </label>
            <input type="text" name="title" class="form-control fs-16">
            {% with messages = get_flashed_messages(category_filter=["jobTitle"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}   
        </div>
        <div class="form-group text-center my-3">
            <label for="description" class="form-label d-block">Description:</label>
            <textarea name="description" cols="30" rows="2" class="form-control fs-16"></textarea>
            {% with messages = get_flashed_messages(category_filter=["jobDescription"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}  
        </div>
        <div class="form-group text-center my-3">
            <label for="salary" class="form-label d-block">Salary ($):</label>
            <input type="text" name="salary" class="form-control fs-16"></input>
            {% with messages = get_flashed_messages(category_filter=["jobSalary"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}  
        </div>
        
        <input type="Submit" class="submit mb-20 bg-red w-25 fs-20 border-0 rounded p-2"></input>
    </form>

    {% elif loggedUser.status == 'artist' %}
    <form action="/create/proposal" method="post" class="col-4 p-4 my-5 m-auto text-dark text-center rounded bg-pink">
        <h1 >Create a proposal for a web application</h1>
        <div class="form-group fs-20 text-center my-3">
            <label for="title" class="form-label d-block fs-20">Title: </label>
            <input type="text" name="title" class="form-control fs-16">
            {% with messages = get_flashed_messages(category_filter=["proposalTitle"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}   
        </div>
        <div class="form-group text-center my-3">
            <label for="description" class="form-label d-block fs-20">Description:</label>
            <textarea name="description" id="" cols="30" rows="2" class="form-control fs-16"></textarea>
            {% with messages = get_flashed_messages(category_filter=["proposalDescription"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger text-center">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}  
        </div>
        <div class="d-flex justify-content-around">
          <div>
            <h3 class="bolder">Developer</h3>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill1" value="front-end">
              <label class="form-check-label" for="skill1">
                Front-end
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill1" value="back-end">
              <label class="form-check-label" for="skill1">
                Back-end
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill1" value="fullstack" checked>
              <label class="form-check-label" for="skill1">
                Fullstack
              </label>
              </div>
          </div>

          <div>
            <h3 class="bolder">Language</h3>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill2" value="python" checked>
              <label class="form-check-label" for="skill2">
                Python
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill2" value="java" >
              <label class="form-check-label" for="skill2">
                Java
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill2" value="javascript" >
              <label class="form-check-label" for="skill2">
                Javascript
              </label>
            </div>
          </div>

          <div>
            <h3 class="bolder">Way of Charging</h3>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill3" value="Per project">
              <label class="form-check-label" for="skill3">
                Per project
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="skill3" value="Per hour" checked>
              <label class="form-check-label" for="skill3">
                Per hour
              </label>
            </div>
          </div>
          
        </div>

        <h4 class="m-3 ">Thank you for your idea!</h4>
        {% with messages = get_flashed_messages(category_filter=["proposalSuccess"]) %}
        {% if messages %}
        {% for message in messages %}
        <p class="text-danger text-center">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %} 
        <input type="Submit" class="submit mb-20 bg-red w-25 fs-20 border-0 rounded p-2"></input>
    </form>
    {% endif %}
  </div>






  <script src="{{url_for('static', filename='JS/carousel.js')}}"></script>

  <script src="{{url_for('static', filename='JS/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/jquery-2.1.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/ekko-lightbox.js')}}"></script>
  <script src="{{url_for('static', filename='JS/simple-lightbox.js')}}"></script>

</body>

</html>