<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>#theArtist</title>
  <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplelightbox.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="body">
<!-- NAVBAR -->
  <section id="header" class="clearfix cd-secondary-nav">
    <nav class="navbar">
      <div class="container clearfix">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header clearfix page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/dashboard" class="navbar-brand"><i class="fa fa-pencil"></i>#theArtist</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="tag_menu_1 active_tab" href="/dashboard">HOME</a>
            </li>

            {% if loggedUser.status == 'it' %}
            <li class="tag_menu">
              <div class="dropdown">
                <button class="dropbtn ">POSTS <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                <div class="dropdown-content">
                  <a href="/jobproposals">JOBS</a>
                  <a href="/jobproposals">PROPOSALS </a>
                </div>
              </div>
            </li>
            {% endif %}

            <li class="tag_menu">
              <div class="dropdown">
                <button class="dropbtn ">CREATE <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                <div class="dropdown-content">
                  {% if loggedUser.status == 'artist' %}
                  <a href="/create">PROPOSAL</a>
                  {% else %}
                  <a href="/create">JOB POSITION</a>
                  {% endif %}
                </div>
              </div>
            </li>
            
          <!-- 
            <li class="dropdown">
              <a class="tag_menu border_none" href="#" data-toggle="dropdown" role="button"
                aria-expanded="false">POSTS<span class="caret"></span></a>
              <ul class="dropdown-menu drop_2" role="menu">
                <li><a href="collection.html">JOBS</a></li>
                <li><a href="blog_detail.html">PROPOSALS</a></li>
              </ul>
            </li> -->

            <li>
              <a class="tag_menu" href="/network">NETWORK</a>
            </li>

            <li>
              <a class="tag_menu" href="/contact">CONTACT US</a>
            </li>


            <!-- <li class="dropdown"><a class="tag_menu" href="#" data-toggle="dropdown"><span
                  class="fa fa-search"></span></a>
              <ul class="dropdown-menu drop_1" style="min-width: 300px;">
                <li>
                  <div class="row_1">
                    <div class="col-sm-12">
                      <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                              Search</button>
                          </span>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </li> -->
            <li > 
              <div class="dropdown">
                <button class="dropbtn nav-color"><img class="img" src="../static/img/gear-24.png" alt=""></button>
                <div class="dropdown-content">
                  <a href="/profile/{{loggedUser.id}}">MY PROFILE</a>
                  <a href="/portfolio/{{loggedUser.id}}">MY PORTFOLIO </a>
                  <a href="/portfolio">CREATE PORTFOLIO</a>
                  <a href="/logout">LOGOUT</a>
                </div>
              </div>
            </li>
           
          </ul>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </section>

  <section id="center">
    <div class="clearfix">

      <!-- STARTS -->

<!-- Slideshow container -->
      <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
      <div class="numbertext"></div>
      <img src="../static/img/tree.webp" style="width:100%">
      
    </div>

    <div class="mySlides">
      <div class="numbertext"></div>
      <img src="../static/img/lilies.webp" style="width:100%">
      
    </div>

    <div class="mySlides">
      <div class="numbertext"></div>
      <img src="../static/img/spring.webp" style="width:100%">
      
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>


<!-- The dots/circles -->
<!-- <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->
      <!-- ENDS -->

      

      <div class="main-text hidden-xs">
        <div class="col-md-12">
          <div class="col-sm-4">
            <div class=" center_slide">
              <h1>FIND YOUR <br>COLLABORATOR</h1>
              <h1>OR</h1>
              <h1>PROPOSE AN <br>IDEA</h1>
              {% if loggedUser.status == 'artist' %}
                <h6><a href="/create">PROPOSE AN IDEA <i class="fa fa-play-circle"></i></a></h6>
              {% else %}
                <h6><a href="/create">POST A JOB <i class="fa fa-play-circle"></i></a></h6>
              {% endif %}
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-5">

          </div>

        </div>
      </div>


    </div>
  </section>





<!-- RECENT JOBS -->

  <section id="deals_page">
    <div class="container">
      <div class="row">
        <div class="clinic_home text-center  mb-40">
          <h1 class="mb-40">MOST RECENT JOBS POSTED</h1>
        </div>
        <div class="deals_page clearfix">
          {% for job in jobs %}
            <div class="col-sm-6">
              <div class="deals_page_left bg_1 clearfix">
                <div class="width-100 margin-a t-center">
                  <div class="deals_page_left_2 t-center">
                    <h6>{{job.title}}</h6>
                    <h3 class="ellipsis t-center"><a class="ellipsis" href="/job/{{job.id}}">{{job.description}}</h3>
                    <div class="clearfix deals_page_left_2_inner">
                      <a class="tag_1" href="/job/{{job.id}}">Get Info</a>
                      <a class="tag_2" href="/job/{{job.id}}">Get this Position <i class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        

      </div>
    </div>
  </section>

<!-- ARTIST POSTS -->
  <section id="blog_post">
    <div class="blog_post_main clearfix">
      <div class="container">
        <div class="row">
          <div class="clinic_home text-center clearfix">
            <h1>LATEST WORKS BY OUR ARTISTS</h1>
          </div>

          <div class="blog_post clearfix">
            {% for image in images3 %}
              <div class="col-sm-4">
                <div class="blog_post_inner">
                  <div class="card-image"><img src="../static/UPLOADED_FOLDER/{{image.image}}" width="100%" height="300px"></div>
                  <h5>{{image.created_at}}</h5>
                  <h4>By: <a href="/portfolio/{{image.user_id}}">{{image.first_name}} {{image.last_name}}</a></h4>
                  <p>{{image.caption}}</p>
                </div>
              </div>
            {% endfor %}

          </div>

          <div class="services_home_2 text-center clearfix">
            <h5><a href="/network">View All Our Users</a></h5>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- IT STAFF -->
  <section id="team_home">
    <div class="container">
      <div class="row">
        <div class="about_home text-center clearfix">
          <h1 class="heading_tag">MOST RECENT ADD TO OUR IT STAFF</h1>
          <p class="para_2">Passionate about technology, enjoy solving complex issues, and thrive <br> in making your idea come to life.
            </p>
        </div>

        <div class="team_home clearfix">
          {% for it in its %}
            <article class="col-sm-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  <a href="img/800/1.jpg" title="Museum Art" class="zoom" data-title="Museum Art"
                    data-footer="Repairing Center" data-type="image" data-toggle="lightbox">
                    <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                  </a>
                </div>

              </div>
              <div class="team_home_inner text-center clearfix">
                <h4><a href="/portfolio/{{it.id}}">{{it.first_name}} {{it.last_name}}</a></h4>
                <p class="ellipsis">{{it.description}}</p>
              </div>
            </article>
          {% endfor %}


        </div>
      </div>
    </div>
  </section>

<!-- CATEGORIES -->
  <!-- <section id="collection_detail">
    <div class="container">
      <div class="row">
        <div class="collection_detail clearfix">
          <h3>KNOW THE CATEGORIES</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante
            dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris.
            Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in
            libero.Sed dignissim lacinia nunc. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
            Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. </p>
        </div>
        <div class="collection_detail_1  collection_detail_home clearfix">

          <div class="col-sm-4 space_left">
            <div class="collection_detail_1_left clearfix">
              <div class="grid clearfix">
                <figure class="effect-marley">
                  <img src="img/31.jpg" alt="img12">
                  <figcaption>
                    <h2>Museum <span>Art</span></h2>
                    <p>Nulla quis sem at nibh elementum imperdiet.</p>
                    <a href="#">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="collection_detail_1_right">
              <h2>Take:Ahead</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus
                ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent
                mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class
                aptent taciti sociosqu ad litora torquent per conubia nostra. </p>
              <h4><a href="#">READ MORE</a></h4>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section> -->

<!-- SIGN UP -->
  <section id="sign_up" class="sign_up_collection">
    <div class="container">
      <div class="row">
        <div class="sign_up_box text-center clearfix">
          <h2> Stay Inspired: Subscribe to Our Newsletter</h2>
          <p> Join our community of artists or IT enthusiasts and be the first to experience the latest news, exclusive content, and creative inspiration. <br> Don't miss out on exciting posts, special offers, and behind-the-scenes <br> glimpses into our world. </p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="your email address">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">
                SUBMIT</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- ABOUT PAGE -->
  <section id="about_home" class="clearfix">
    <div class="about_home_main clearfix">
      <div class="container">
        <div class="row">
          <div class="about_home clearfix">
            <div class="col-sm-6">
              <div class="about_home_1 clearfix">
                <div class="col-sm-3 space_all">
                  <div class="about_home_1_left">
                    <h2><i class="fa fa-skyatlas"></i></h2>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="about_home_1_right">
                    <h4>TARGET</h4>
                    <p>Our target group are talented individuals who are looking for a place to further develop their ideas or find a partner for their projects.</p>
                  </div>
                </div>
              </div>
              <div class="about_home_1 clearfix">
                <div class="col-sm-3 space_all">
                  <div class="about_home_1_left">
                    <h2><i class="fa fa-television"></i></h2>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="about_home_1_right">
                    <h4>TECHNOLOGY</h4>
                    <p>Our plan is to expand even more and support all kinds of technologys. Together we will make than happen.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="about_home_1 clearfix">
                <div class="col-sm-3 space_all">
                  <div class="about_home_1_left">
                    <h2><i class="fa fa-user-plus"></i></h2>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="about_home_1_right">
                    <h4>COMMUNICATION</h4>
                    <p>Feel welcomed to reach out to us for whatever issue you are having. Critics are always appreciated. They help us grow.</p>
                  </div>
                </div>
              </div>
              <div class="about_home_1 clearfix">
                <div class="col-sm-3 space_all">
                  <div class="about_home_1_left">
                    <h2><i class="fa fa-suitcase "></i></h2>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="about_home_1_right">
                    <h4>COMPANY PROGRESS</h4>
                    <p>#theArtist is a new platform with a big vision. We hope together we will grow even more.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- FOOTER -->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="footer clearfix">
          <div class="footer_1 clearfix">
            <div class="col-sm-3">
              <div class="footer_1_left">
                <h3>#THEARTIST</h3>
                <p>Sulejman Delvina Street<br>Tirane, Albania<br></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="footer_3 clearfix">
                <p>Registrations Always Open</p>
                <p>Here at <span class="red">#theArtist</span>, we believe in fostering a dynamic and collaborative environment where creativity and innovation thrive. We're on a mission to connect you with people who can make your ideas come true, and we're always welcoming talented individuals who share our passion and want to make a real impact.</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="footer_1_right pull-right">
                <h1>#theArtist</h1>
              </div>
            </div>
          </div>
          <div class="footer_2 clearfix">
            <div class="col-sm-7">
              <div class="footer_2_left">
                <a href="#">Sign Up For Headlines</a>
                <a href="#">Customer Detail</a>
                <a href="#">Connect With Us</a>
                <a href="#">Media</a>
                <a href="#">Work</a>
                <a class="border_none_1" href="#">Policy</a>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="footer_2_right pull-right">
                <ul class="social-network social-circle">
                  <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div id="toTop" onclick="scrollToTop()" class="btn btn-info" style="display: block; background:#e02626; border-color:#e02626;"><span
    class="fa fa-chevron-up"></span>
  </div>

  <script> 
    function scrollToTop() { 
        window.scrollTo(0, 0); 
    } 
  </script> 

  <script src="{{url_for('static', filename='JS/carousel.js')}}"></script>
  <script src="{{url_for('static', filename='JS/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/jquery-2.1.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/ekko-lightbox.js')}}"></script>
  <script src="{{url_for('static', filename='JS/simple-lightbox.js')}}"></script>

</body>

</html>