<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>#theArtist</title>
  <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simplelightbox.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/icon type">
</head>

<body class="body">
<!-- NAVBAR -->
    <section id="header" class="clearfix cd-secondary-nav">
        <nav class="navbar">
        <div class="container clearfix">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header clearfix page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/dashboard" class="navbar-brand"><i class="fa fa-pencil"></i>#theArtist</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                <a class="tag_menu_1 active_tab" href="/dashboard">HOME</a>
                </li>

                {% if loggedUser.status == 'it' %}
                <li class="tag_menu">
                <div class="dropdown">
                    <button class="dropbtn ">POSTS <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <div class="dropdown-content">
                    {% if loggedUser.status == 'it' %}
                        <a href="/jobproposals">JOBS/PROPOSALS</a>
                    {% elif loggedUser.status == 'artist' %}
                    <a href="/jobproposals">JOBS</a>
                    {% endif %}
                    </div>
                </div>
                </li>
                {% endif %}

                <li class="tag_menu">
                <div class="dropdown">
                    <button class="dropbtn ">CREATE <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <div class="dropdown-content">
                    {% if loggedUser.status == 'artist' %}
                    <a href="/create">PROPOSAL</a>
                    {% else %}
                    <a href="/create">JOB POSITION</a>
                    {% endif %}
                    </div>
                </div>
                </li>

                <li>
                <a class="tag_menu" href="/network">NETWORK</a>
                </li>

                <li>
                <a class="tag_menu" href="/contact">CONTACT US</a>
                </li>
                <li > 
                <div class="dropdown">
                    <button class="dropbtn nav-color"><img class="img" src="../static/img/gear-24.png" alt=""></button>
                    <div class="dropdown-content">
                    <a href="/profile/{{loggedUser.id}}">MY PROFILE</a>
                    <a href="/portfolio/{{loggedUser.id}}">MY PORTFOLIO </a>
                    <a href="/portfolio">CREATE PORTFOLIO</a>
                    <a href="/logout">LOGOUT</a>
                    </div>
                </div>
                </li>
            
            </ul>

            </div>
        </div>
        </nav>
    </section>

    <h1 class="text-center">UPDATE YOUR WORK</h1>
    <div class="d-flex justify-content-around">
        <div class="w-50 m-auto d-flex justify-content-around">
            <form enctype="multipart/form-data" class="w-50 m-auto p-5 border rounded mt-4 text-center bg-pink p-4" action="/edit/work/{{work.id}}" method="post">
                <h2 class="text-center">Edit your description! </h2>
                <div class="form-row">
                    <label for="caption" class=""></label>
                    <textarea class="form-control fs-16" value="{{work.caption}}" name="caption" cols="30" rows="3">{{work.caption}}</textarea>
                    
                </div>
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-danger text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                
                <input type="submit" value="Upload" class="mt-20 fs-20 btn btn-success">
                
            </form>
            
        </div>
  </div>
    

  







  <script src="{{url_for('static', filename='JS/carousel.js')}}"></script>

  <script src="{{url_for('static', filename='JS/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/jquery-2.1.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='JS/ekko-lightbox.js')}}"></script>
  <script src="{{url_for('static', filename='JS/simple-lightbox.js')}}"></script>

</body>

</html>