<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>ART</title>
      <link rel="icon" href="../static/img/icon.png" type="image/icon type">
      <link rel="stylesheet" href="../static/style.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   </head>
   <body>
      <div class="bg-img">
         <div class="content">
            <header>Register</header>
            <form action="/register", method="post">
               <div class="fieldset text-white">
                  <p><label for="first_name">First Name:</label><input type="text" name="first_name" /></p>
                  {% with messages = get_flashed_messages(category_filter=["firstName"]) %}
                  {% if messages %}
                  {% for message in messages %}
                  <p class="text-danger">{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <p><label for="last_name">Last Name:</label><input type="text" name="last_name" /></p>
                  {% with messages = get_flashed_messages(category_filter=["lastName"]) %}
                  {% if messages %}
                  {% for message in messages %}
                  <p class="text-danger">{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <p><label for="email">Email</label><input type="text" name="email" /></p>
                  {% with messages = get_flashed_messages(category_filter=["email"]) %}
                  {% if messages %}
                  {% for message in messages %}
                  <p class="text-danger">{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <p><label for="password">Password</label><input type="password" name="password" /></p>
                  {% with messages = get_flashed_messages(category_filter=["password"]) %}
                  {% if messages %}
                  {% for message in messages %}
                  <p class="text-danger">{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <p><label class="m-1" for="confirm_password">Confirm Password:</label><input type="password" name="confirm_password" /></p>
                  {% with messages = get_flashed_messages(category_filter=["confirmPassword"]) %}
                  {% if messages %}
                  {% for message in messages %}
                  <p class="text-danger">{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <p class="d-flex justify-content-between"><label class="m-auto" for="status">Status:</label>
                     <select class="w-57 p-1" name="status">
                        <option disabled="disabled" selected>Status</option>
                        <option value="artist">Artist</option>
                        <option value="employeer">Employeer</option>
                        <option value="user">User</option>
                     </select>
                  </p>
                  {% with messages = get_flashed_messages(category_filter=["status"]) %}
                  {% if messages %}
                  {% for message in messages %}
                  <p class="text-danger">{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <p><label for="profession">Profession:</label><input type="text" name="profession"></p>
                  {% with messages = get_flashed_messages(category_filter=["profession"]) %}
                  {% if messages %}
                  {% for message in messages %}
                  <p class="text-danger">{{message}}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
               </div>

               <div class="field space">
                  <input type="submit" value="LOGIN">
               </div>
            </form>
         </div>
      </div>
   </body>
</html>