<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#theArtist</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="bg-color pb-5 w-100 h-100 authorisation">
    <nav class="navbar navbar-dark navbar-expand-lg  py-3 px-5 m-auto border-bottom nav-color">
      <div class="container-fluid">
        <a class="navbar-brand logo text-white" href="/">#theArtist</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-between">
          <a class="navbar-brand lineh-50" href="/network">The network</a>
          <a class="navbar-brand lineh-50" href="/jobproposals">Jobs/Proposals</a>
          <div class="dropdown">
            <button class="dropbtn nav-color"><img src="../static/img/gear-24.png" alt=""></button>
            <div class="dropdown-content">
              <a href="/profile">My profile</a>
              <a href="/portfolio/{{loggedUser.id}}">My portfolio </a>
              <a href="/portfolio">Create Portfolio</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    
      <div class="w-100">
        {% if not proposal %}  
        <div class="flip-card mt-5 m-auto">
          <div class="flip-card-inner">
              <div class="flip-card-front rounded">
                  <p class="title yellow">{{job.title.capitalize()}} </p>
                  <div class="my-3  p-4">
                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Description:</p></div>
                      <div class="col-7 text-white"><p>{{job.description}}</p></div>
                    </div>

                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Salary :</p></div>
                      <div class="col-7 text-white"><p>{{job.salary}} $</p></div>
                    </div>
                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Posted on :</p></div>
                      <div class="col-7 text-white"><p>{{job.created_at}}</p></div>
                    </div>
                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Posted by :</p></div>
                      <div class="col-7 text-white">
                        <p>{{creator.first_name}} {{creator.last_name}}</p>
                        <p>{{creator.email}}</p>
                      </div>
                    </div>
                    {% if loggedUser.id != creator.id %}
                      <div class="d-flex justify-content-center ">
                        <a href="/apply/{{job.id}}" class="cssbuttons-io">
                          <span><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"></path> Apply</span>
                        </a>
                        <!-- <a class="text-danger text-decoration-none fs-4" href="">Apply</a> -->
                      </div>
                    {% endif %}
              </div>
          </div>
        </div>
        {% elif not job %}
        <div class="flip-card mt-5 m-auto">
          <div class="flip-card-inner">
              <div class="flip-card-front rounded">
                  <p class="title yellow">{{proposal.title.capitalize()}} </p>
                  <div class="my-3  p-4">
                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Description:</p></div>
                      <div class="col-7 text-white"><p>{{proposal.description}}</p></div>
                    </div>

                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Developer :</p></div>
                      <div class="col-7 text-white"><p>{{proposal.skill1.capitalize()}}</p></div>
                    </div>
                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Language :</p></div>
                      <div class="col-7 text-white"><p>{{proposal.skill2.capitalize()}}</p></div>
                    </div>
                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Way of charge :</p></div>
                      <div class="col-7 text-white"><p>{{proposal.skill3.capitalize()}}</p></div>
                    </div>
                    <div class="d-flex">
                      <div class="col-4 yellow"><p>Idea by :</p></div>
                      <div class="col-7 text-white">
                        <p>{{creator.first_name.capitalize()}} {{creator.last_name.capitalize()}}</p>
                        <p>{{creator.email}}</p>
                      </div>
                    </div>
              </div>
          </div>
        </div>
        {% endif %}
      </div>

      

    
            



  </div>
    
</body>
</html>