.authorisation {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
}

.bg-color{
    background-color: #7ea3d2; 
}

.bg-img{
    background-repeat: no-repeat !important;
    height: 100vh;
    background-size: cover !important;
    background-position: center;
}
  
.background{
    background-color: #2d5a9e;
   
}

.body{
    margin: 0;
    padding: 0;
}
  