.col-4{
  flex: 0 0 auto;
  width: 33.33333333%;
}

.rounded {
  border-radius: 0.25rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.m-auto {
  margin: auto!important;
}

.m-10{
  margin: 10px
}

.mt-20{
  margin-top: 20px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

.p-4 {
  padding: 1.5rem!important;
}

.my-5 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.my-3 {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

.fs-5 {
  font-size: 1.25rem!important;
}

.d-block {
  display: block!important;
}
.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.text-danger {
  color: #dc3545!important;
}

.blue{
  color: #428bca;
}

.justify-content-around {
  justify-content: space-around!important;
}

.d-flex {
  display: flex!important;
}

.w-25 {
  width: 25%!important;
}
.w-75{
  width: 75%;
}
.w-50{
  width: 50%;
}

.fs-5 {
  font-size: 1.25rem!important;
}
.p-2 {
  padding: 0.5rem!important;
}

.rounded {
  border-radius: 0.25rem!important;
}

.submit{
  border: none;
}

.bg-red{
  background-color:  #dc3545!important;
}

.bg-pink{
  background-color:  #f6d2cd !important;
}

.bolder{
  font-weight: bolder;
}

.mb-20{
  margin-bottom: 20px !important;
}

.fs-20{
  font-size: 20px;
}

.fs-16{
  font-size: 16px;
}

.mt-150{
  margin-top: 150px;
}

.text-decoration-none{
  text-decoration: none !important;
}