.image{
  width: 300px;
  height: 500px;
  object-fit: cover !important ;
  }

.nav-color{
  background-color: #557a95;
}

.text-purple{
  color: #3500d3;
}

.content-color{
  background-color: #e5d6d3;
}

.logo{
  font-weight: bold;
  color: #3500d3 !important;
}

/* Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.lineh-50{
  line-height: 50px;
}

a{
  color: white;
}

.button {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: #d7b718;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.button:hover {
  letter-spacing: 2px;
  background-color: #d7b718;
  color: hsl(0, 0%, 100%);
  box-shadow: #d7b718 0px 7px 29px 0px;
}
 
.button:active {
  letter-spacing: 2px;
  background-color: #d7b718;
  color: hsl(0, 0%, 100%);
  box-shadow: #d7b718 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border-radius: calc(45px/2);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: #d7b718;
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2.2em;
  color: white;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 15px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 15px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}



