.pink{
  background-color: #fbf3f3;
}

.bg-white{
  background-color: #fbf8f2;
}

.mb-30{
  margin-bottom: 50px;
}

.m-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.pb-30{
  padding-bottom: 30px !important;
}